*{
    font-family: 'Baloo Chettan 2', sans-serif;
  }
  
  ion-content{
    --background: #EFF6FD url(../../../assets/img/background2.png) no-repeat center center / cover;
    --background-size: cover;
  }
  
  .div-img{
      margin-top: 30px;
  }
  
  .h1Tittle{
      color: black;
  }
  
  
  .card-chamado{
      border-radius: 20px;
  }
  
  .textDescricao{
      height: 200px;
      width: 325px;
      border-radius: 10px !important;
      border: #b5b5b8 solid 1px;
    }
  
  .textDescricao:active{
    height: 200px;
    width: 325px;
    border-radius: 10px !important;
    border: #3636ff solid 1px;
  }
  
  
  ion-toolbar {
      --background: transparent;
      --ion-color-base: transparent !important;
    }
    
    ion-input {
      --border-radius: 10px !important;
    }
    
    ion-card-title{
      font-size: 34px;
      margin-top: 15px;
    }
    
    .form{
      width: 300px;
      margin-left: 13px;
    }
    
    ion-card{
      --border-radius: 25px!important;
    }
    
    .card{
      border-radius: 20px;
    }
    
    .titleInput{
      margin-left: 5px;
      margin-top: 25px;
      margin-bottom: 10px;
    }
    
    .button{
      margin-top: 60px;
      width: 290px;
      margin-left: 0px;
    }
    
    ion-button{
      --border-radius: 15px!important;
    }
    
    .divNovo{
      margin-top: 60px;
      margin-bottom: 120px;
    }
    
    .div-img{
      margin-top: 30px;
    }
    h3{
      color: black;
    }
  
    .cardForm{
      border-radius: 25px!important;
      margin-top: 20px;
    }