<ion-content [fullscreen]="true">

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" align="center">
  </div>

  <div align="center" class="h1Tittle">
    <h1>Chamados Proximos</h1>
  </div>

<!-- TELA DO TÉCNICO PRA CHAMADOS PROXIMOS  -->


<!-- CHAMADO 1 -->
  <ion-card class="card">

    <ion-card-content>
<p>•(Nome do Cliente)</p>
<p>•(Data e hora da visita)</p>
<p>•(Endereço)</p>
<p>•(Descrição do problema)</p>
<div align="center">
  <ion-button expand="full" shape="round" color="warning">Aceitar Chamado</ion-button>
</div>
    </ion-card-content>
  </ion-card>

<!-- CHAMADO 2 -->
  <ion-card class="card">

    <ion-card-content>
<p>•(Nome do Cliente)</p>
<p>•(Data e hora da visita)</p>
<p>•(Endereço)</p>
<p>•(Descrição do problema)</p>
<div align="center">
  <ion-button expand="full" shape="round" color="warning">Aceitar Chamado</ion-button>
</div>
    </ion-card-content>
  </ion-card>
  
<!-- CHAMADO 3 -->
  <ion-card class="card">

    <ion-card-content>
<p>•(Nome do Cliente)</p>
<p>•(Data e hora da visita)</p>
<p>•(Endereço)</p>
<p>•(Descrição do problema)</p>
<div align="center">
  <ion-button expand="full" shape="round" color="warning">Aceitar Chamado</ion-button>
</div>
    </ion-card-content>
  </ion-card>
</ion-content>