<ion-content [fullscreen]="true" >

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" align="center">
  </div>

<ion-card class="card">
  <ion-card-header align="center">
    <ion-card-title>Escolha como deseja criar sua conta!</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div style="margin:auto">
    <div class="tec">
    <a href="/cadastro/funcionario"><img src="../../assets/img/tecnico.png" class="img" alt=""></a>
  </div>
          <div class="textinho" align="center"> 
            <p>Ou</p>
          </div>
          <div class="tec">
            <a href="/cadastro/usuario"><img src="../../assets/img/usuario.png" class="img" alt=""></a>
          </div>
          
  </div>
  </ion-card-content>
</ion-card>
</ion-content>
