<ion-content [fullscreen]="true">

  <div align="center" class="div-img">
    <img src="../../../assets/img/logo.png" alt="" align="center">
  </div>


  <ion-card class="card">
    <ion-card-header align="center">
      <ion-card-title>Técnico</ion-card-title>
    </ion-card-header>

    <ion-card-content align="center">
      <div class="form" align="left">
        <h2 class="titleInput">Nome Completo</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text" required></ion-input>

        <h2 class="titleInput">CPF</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text" required></ion-input>

        <h2 class="titleInput">Data de Nascimento</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>

        <h2 class="titleInput">Email</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>

        <h2 class="titleInput">Endereço</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>

        <div class="upload-btn-wrapper" align="center">
          <h2 class="upload-h2">Faça o Upload do seu certificado</h2>
          <img src="../../assets/img/upload.png" alt="" align="center" class="upload">
          <input type="file" name="myfile" align="center"/>
          <p>O arquivo deve ser em PDF ou em PNG com tamanho maximo de 25 MB</p>
        </div>

        <h2 class="titleInput">Senha</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>

        <h2 class="titleInput">Confirme a Senha</h2>
        <ion-input label-placement="floating" fill="outline" placeholder="Enter text"required></ion-input>

        <div align="center" class="button">
          <ion-button expand="full" shape="round" color="warning">Cadastrar</ion-button>
        </div>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>