
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar slot="fixed">
      <ion-title><svg width="25" height="25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <path d="M12 3a4 4 0 1 0 0 8 4 4 0 1 0 0-8z"></path>
      </svg><span class="bnv">Bem vindo</span></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label><a href="aceitrchamadsfunc"><ion-button shape="round" color="warning">Chamados Próximos</ion-button></a></ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding" class="conteudo">
    <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" width="150px" align="center">
  </div>

  <div align="center" class="h1Tittle">
    <h1>é ótimo ter você trabalhando aqui conosco</h1>
  </div>


  <div>
    <div class="title">
      <h1 color="primary">Sobre nós</h1>
    </div>
    <div class="box-sobre">
      <h1>Bem-vindo à nossa empresa, líder no mercado de contratação de serviços especializados em conserto de ar condicionado. Estamos comprometidos em fornecer soluções eficientes e confiáveis para manter o seu conforto e bem-estar em qualquer estação do ano. Nossa história e nosso compromisso com a excelência fazem de nós a escolha ideal para atender todas as suas necessidades de climatização.</h1>
    </div>
  </div>



  <div>
    <div class="title2">
      <h1 color="primary" align="right">Nossa missão</h1>
    </div>
    <div class="box-sobre2">
      <h1> Nossa missão é simples: proporcionar um ambiente confortável, saudável e produtivo para nossos clientes. Sabemos o quão importante é ter um sistema de ar condicionado confiável, seja em sua casa ou empresa. Estamos dedicados a manter seu equipamento funcionando com desempenho máximo, economia de energia e longevidade. Trabalhamos arduamente para garantir que sua experiência conosco seja sempre a melhor possível.</h1>
    </div>
  </div></ion-content>
</div>














<!-- 
<ion-content [fullscreen]="true" >

  <div align="center" class="div-img">
    <img src="../../assets/img/logo.png" alt="" width="150px" align="center">
  </div>

  <div align="center" class="h1Tittle">
    <h1>é ótimo ter você trabalhando aqui conosco</h1>
  </div>


  <div>
    <div class="title">
      <h1 color="primary">Sobre nós</h1>
    </div>
    <div class="box-sobre">
      <h1>Bem-vindo à nossa empresa, líder no mercado de contratação de serviços especializados em conserto de ar condicionado. Estamos comprometidos em fornecer soluções eficientes e confiáveis para manter o seu conforto e bem-estar em qualquer estação do ano. Nossa história e nosso compromisso com a excelência fazem de nós a escolha ideal para atender todas as suas necessidades de climatização.</h1>
    </div>
  </div>



  <div>
    <div class="title2">
      <h1 color="primary" align="right">Nossa missão</h1>
    </div>
    <div class="box-sobre2">
      <h1> Nossa missão é simples: proporcionar um ambiente confortável, saudável e produtivo para nossos clientes. Sabemos o quão importante é ter um sistema de ar condicionado confiável, seja em sua casa ou empresa. Estamos dedicados a manter seu equipamento funcionando com desempenho máximo, economia de energia e longevidade. Trabalhamos arduamente para garantir que sua experiência conosco seja sempre a melhor possível.</h1>
    </div>
  </div>
<app-tab>

</ion-content> -->







<!-- <ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab6" href="/tabs/tab6">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab8" href="/tabs/tab8">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

</ion-tab-bar>

</ion-tabs>


  


 -->

