*{
    font-family: 'Baloo Chettan 2', sans-serif;
 }

   ion-content{
     --background: #EFF6FD url(../../assets/img/background2.png) no-repeat center center / cover;
     --background-size: cover;
   }
    
    ion-input {
      --border-radius: 10px !important;
    }
    
    ion-card-title{
      font-size: 34px;
      margin-top: 15px;
    }
    
    .form{
      width: 300px;
      margin-left: 13px;
    }
    
    ion-card{
      border-radius: 35px!important;
    }
  
  
    ion-card-content{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    ion-card-content a{
      text-decoration: none;
    }
  
  
    
    ion-card-content h3{
      width: 150px;
      font-size: 12px;
    }
  
  
    ion-card-content h3:last-child{
      width: 150px;
      font-size: 12px;
      color: #27AED9;
      margin-top: 5px;
    }
  
    
    .card{
      border-radius: 20px;
    }
    
    .titleInput{
      margin-left: 5px;
      margin-top: 25px;
      margin-bottom: 10px;
    }
    
    ion-header{
        background: transparent;
        color: transparent;
    }

    ion-button{
      --border-radius: 15px!important;
    }
    
    .divNovo{
      margin-top: 60px;
      margin-bottom: 120px;
    }
    
    .div-img{
      margin-top: 30px;
    }
 
    .h1Tittle h1{
       width: 240px;
       color: white;
    }

    .title{
     margin-left: 30px;
    }
 
    .title h1{
     color: #66ABD2;
    }
 
    .box-sobre{
     background-color: white;
     width: 255px;
     margin-left: 27px;
     border-radius: 20px;
    }
 
    .box-sobre h1{
     font-size: 15px;
     padding: 10px;
     color: #27AED9;
    }
 
    .title2 h1{
     color: #66ABD2;
     margin-right: 27px;
     margin-top: 55px;
    }
 
 
    .box-sobre2{
     background-color: white;
     width: 255px;
     margin-left: 107px;
     border-radius: 20px;
    }
 
 
    .box-sobre2 h1{
     font-size: 15px;
     padding: 10px;
     color: #27AED9;
     
    }


    ion-header{
      --background-color: transparent;
        --ion-color-base: transparent !important;
    }

    ion-toolbar {
        --background-color: transparent;
        --ion-color-base: transparent !important;
      }